body{
  background-color: #436acc;
  font-family: Helventica, Arial, sans-serif;
}

#container{
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2%
}
#top{
}

#header{
  background-color: #ff9900;
  color: white;
}

#nav{
  background-color: #666666;
  color: blue;
}

.badge{
  width: 50%;
  height: auto;
}

@media all and (max-width: 600px){
  .screenshot{
    width: 90%;
    height: auto;
    padding-top: 40px;
  }
}
