body{
  background-color: #003366;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: inherit;
}

#container{
    background-color: #436acc;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2%
}

#top{
  color: white;
}

#header{
  font-size: 300%;
  font-weight: bold;
}

#footer{
  color: white;
}


@media all and (max-width: 600px){
  .screenshot{
    width: 90%;
    height: auto;
    padding-top: 40px;
  }
}

@media all and (min-width: 601px){
  .screenshot{
    width: 20%;
    height: auto;
    float: center;
  }
}
